Flask
grpcio
minio
mozprocess
numpy
oauth2client
pandas
pika
psutil
pydantic
PyYAML
redis
requests
urllib3
twisted
six
protobuf
antlr4-python3-runtime
pyfakefs
mock
parameterized
Werkzeug==2.2.2
bson
mockupdb